<h2>
  {{title}}
  <small *ngIf="loading"><i class="fa fa-spin fa-life-ring"></i><span class="sr-only">Loading...</span></small>  
</h2>
<table class="table table-condensed table-striped table-hover table-responsive">
  <thead>
    <tr>
      <th *ngFor="let column of columns" [ngClass]="column.styleClass">
        <a role="button" (click)="changeSort(column.field)">{{column.label}}</a>
        <i class="fa" [ngClass]="{'fa-angle-up': sortOrder.direction == 'asc' && sortOrder.property == column.field, 'fa-angle-down': sortOrder.direction == 'desc'  && sortOrder.property == column.field}"></i>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let trx of transactions | paginate : { itemsPerPage:10, currentPage: p, totalItems: totalItems }">
      <td>{{trx.PoNumber}}</td>
      <td>{{trx.ReqNumber}}</td>
      <td>{{trx.ContractNumber}}</td>
      <td>{{trx.TransactionType}}</td>
      <td>{{trx.TransactionNumber}}</td>
      <td>{{trx.Description}}</td>
      <td>{{trx.Status}}</td>
      <td class="text-right" [ngClass]="{ 'text-danger' : trx.TotalAmount < 0 }">{{trx.TotalAmount | currency:'USD':true }}</td>
      <td class="text-right" [ngClass]="{ 'text-danger' : trx.TotalAmount < 0 }">{{trx.ContingencyAmount | currency:'USD':true }}</td>
      <td>
        <button type="button" class="btn btn-secondary btn-sm btn-link" (click)="viewReport(trx)">View Report</button>
        <button type="button" class="btn btn-secondary btn-sm btn-link" (click)="sendToEone(trx)">Send To E1</button>
      </td>
    </tr>
  </tbody>
</table>
<div class="row">
    <div>
        <pagination-controls (pageChange)="p = getServerData($event)"></pagination-controls>
    </div>
</div>