<nav class="navbar navbar-toggleable-md" style="background-color: #2b376e">
    <div class="collapse navbar-collapse">
        <ul class="nav mr-auto mt-2 mt-md-0">
            <li class="nav-item">
                <a class="navbar-brand" href="https://hub.soundtransit.org/"><img height="33" src="../../../../wwwroot/assets/White-ST-Logo-Vertical-RGB.png" /></a>
            </li>
            <li class="nav-item">
                <h5 class="nav-link" style="color:white">UICAP <small>Integrated Contracts Administration Portal</small></h5>
            </li>
        </ul>
		<ul class="nav">
			<li class="nav-item ">
				<a href="https://sharepoint.soundtransit.org/sites/apps/icap/Shared%20Documents">
					<h5 class="nav-link" style="color:white"><small>Help</small></h5>
				</a>
			</li>
			<li class="nav-item ">
				<h5 class="nav-link" style="color:white"><small>Hello {{UserName|titlecase}}</small></h5>
			</li>
		</ul>
    </div>
</nav>